/**** COLORS ****/ 
$primary: red;
$primary-hover: red;
$secondary: #0042b7;
$secondary-hover: #0c2d65;
$gray: #919191;

/**** FONTS ****/ 
$font-family-primary: 'Arial', 'sans-serif';
$font-size-default: .95rem;